/* Bootstrap Customizations */
@import "~bootstrap/scss/bootstrap";
@import "./custom.scss";
@import "./typography.module.scss";
@import "./article.module.scss";


/*************************/
/* Colors                */
/*************************/
$color-black: #000;
$color-white: #FFF;
$color-bg: #F2F2F2;

$border: 1px solid #d5d5d5;


::selection {
    color: $color-white;
    background: $color-black;
}

// Navigation 
.gh_nav_network {
    padding: 0 !important;
    border-top: 1px solid $color-black !important;
    border-bottom: 1px solid $color-black !important;
    .navbar-light{
        .navbar-nav {
            .nav-link {
                padding: 6px 1rem !important;
            }
        } 
    } 
}


/*************************/
/* Components            */
/*************************/
img {
    width: 100%; 
    height: auto;
}

section {
    position: relative;
}

// Button
.btn {
    border-radius: 0px !important;
}

// Link 
a {
    &:hover {
        // text-decoration: underline;
    }
}

.btn-custom-grey {
    border: 1px solid #E6E6E6; 
    &:hover {
        border: 1px solid #000;
    }
}

// Carousel 
.carousel {
    .carousel-indicators {}
    .carousel-inner {
        .carousel-item {
            // width: 100%;
            // position: relative;
            // display: block;
            &.active {}
            img {} 
            .gh-carousel-caption { 
                width: 400px;
                padding: 40px;
                position: absolute;
                top: 40px;
                bottom: 40px;
                left: 40px;
                display: block;
                background: #FFF;
                .gh-carousel-subtitle {
                    margin-bottom: 20px;
                    font-size: 14px;
                    line-height: 18px;
                    color: #555555;
                }
                .gh-carousel-title {
                    margin-bottom: 16px;
                    font-weight: bold;
                    // font-size: 30px;
                    // line-height: 130%;
                    font-size: min(max(2.4rem, 3vw), 3.2rem);
                    line-height: min(max(3rem, 3vw), 3.6rem);
                    color: #1A1A1A;
                }
                .gh-carousel-desc {
                    margin-bottom: 35px;
                    font-size: 13px;
                    line-height: 150%;
                    color: #555555;
                }
                .gh-carousel-link {
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 18px;
                    color: #1A1A1A !important; 
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    // Carousel Controllers 
    .carousel-control-prev {}
    .carousel-control-next {}
}
@media (max-width: 768px) {
    .carousel {
        min-height: calc(100vh - 31px); 
        background: $color-black;
        .carousel-indicators { 
            display: none;
            visibility: hidden;
        }

        .carousel-inner {
            .carousel-item {

                // width: 100%;
                // position: relative;
                // display: block;
                &.active {}

                img {}

                .gh-carousel-caption {
                    width: 100%;
                    margin-top: -20%;
                    padding: 0 40px 20px 40px;
                    position: relative;
                    display: block;
                    top: -20%;
                    left: 0;
                    bottom: 0;
                    right: 0; 
                    background: linear-gradient(3deg, black 80%, transparent);

                    .gh-carousel-subtitle {
                        margin-bottom: 10px;
                        font-size: 13px;
                        line-height: 16px;
                        color: $color-white;
                    }

                    .gh-carousel-title {
                        margin-bottom: 16px;
                        font-size: 28px;
                        line-height: 130%;
                        color: $color-white;
                    }

                    .gh-carousel-desc {
                        margin-bottom: 16px;
                        font-size: 13px;
                        line-height: 150%;
                        color: $color-white;
                    }

                    .gh-carousel-link {
                        font-size: 13px;
                        line-height: 16px;
                        text-decoration: none;
                        color: $color-white !important;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        // Carousel Controllers 
        .carousel-control-prev {
            display: none;
            visibility: hidden;
        }

        .carousel-control-next {
            display: none;
            visibility: hidden;
        }
    }
}


// Card 
.gh-card {
    color: #000;
    text-decoration: none !important;
    .card {
        height: 100%;
        border: 0 !important;
        border-radius: 0 !important;
        &:last-of-type {
            // margin-bottom: 0px !important;
        }
        &:hover {
            // box-shadow: 0 12px 60px rgba(10, 10, 10, .3) !important;
        }
        .card-img {
            border-radius: 0 !important;
        }
        .card-body {
            padding-top: 16px;
            .card-subtitle {
                margin-bottom: 10px;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 15px;
                color: #555555;
            }
            .card-title {
                margin-bottom: 0 !important;
                font-weight: bold;
                font-size: 16px;
                line-height: 120.6%;
                color: #1A1A1A;
                &:hover {
                    text-decoration: underline;
                }
            }
            .card-text {
                margin-top: 20px;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 160%;
                color: #555555;
            }
        }
    }
}

// Card 
.gh-card {
    color: #000;
    text-decoration: none !important;
    .gh-card-wide {
        flex-direction: row-reverse;
        align-items: center;
        border: 0 !important;
        border-radius: 0 !important;
        &:hover {
            // box-shadow: 0 12px 60px rgba(10, 10, 10, .3) !important;
        }
        .card-img {
            width: 50%;
            border-radius: 0 !important;
        }
        .card-body {
            width: 50%;
            padding-top: 16px;
            .card-subtitle {
                margin-bottom: 10px;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 15px;
                color: #555555;
                span {
                    font-weight: bold;
                    color: #1A1A1A;
                }
            }
            .card-title {
                margin-bottom: 0px !important;
                font-weight: bold;
                font-size: 28px;
                line-height: 120.6%;
                color: #1A1A1A;
                &:hover {
                    text-decoration: underline;
                }
            }
            .card-text {
                margin-top: 20px;
                font-weight: normal;
                font-size: 13px;
                line-height: 150%;
                letter-spacing: -0.0001em;
                color: #555555;
            }
        }
    }
}
@media (max-width: 767px) {
    .gh-card {
        color: #fff;
        text-decoration: none !important;
        background: $color-black;

        .gh-card-wide {
            flex-direction: column;
            background: $color-black !important;
            .card-img {
                width: 100%;
            }
            .card-body {
                width: 100%;
                .card-subtitle {
                    color: #fff; 
                    span {
                        color: $color-white;
                    }
                }
                .card-title {
                    color: #fff;
                }
                .card-text {
                    color: #fff;
                }
            }
        }
    }
}

// Card: Full Width 
.gh-card-full-width {
    // margin-bottom: 25px;
    // padding-bottom: 25px;
    border-top: 0 !important;
    border-right: 0 !important;
    border-bottom: $border;
    border-left: 0 !important;  
    border-radius: 0 !important;
    &:last-of-type {
        margin-bottom: 0px;
    }
    .card-body {
        span {
            font-weight: bold;
        }
        .--card-cat {
            margin-bottom: 10px;
            font-weight: bold;
            font-size: 14px;
            line-height: 120.6%;
            color: #1A1A1A;
        }
        .--card-date {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;
            color: #1A1A1A;
        }
        .card-title {
            margin-bottom: 0px !important;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 120.6%;
            color: #1A1A1A;
        }
        .--card-excerpt {
            margin-top: 10px;
            margin-bottom: 20px;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 150%;
            letter-spacing: -0.0001em;
            color: #555555;
        }
        .--card-author {
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 15px;
            color: #555555;
        }
        .card-image {
            border-radius: 0 !important;
        }
    }
}

// Card: Without Image
.gh-card-no-img {
    padding: 15px 0;
    border-top: none;
    border-right: none; 
    border-bottom: $border;
    border-left: none; 
    border-radius: 0 !important;
    .card-body { 
        padding: 0 !important;
        a {
            color: $color-black;
            text-decoration: none;
            .card-title {
                margin-bottom: 18px;
                font-weight: bold;
                font-size: 16px;
                line-height: 120.6%;
                letter-spacing: -0.0051em;
                color: #1A1A1A;
            }
            &:hover {
                text-decoration: underline;
            }
        }
        .card-subtitle {
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 18px;
            color: #1A1A1A; 
            span {
                font-weight: bold;
            }
        }
        .card-text {
            margin-bottom: 5px;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 18px;
            color: #555555;
        }
    }
}

.gh-cookie {
    padding: 15px 0;
    color: $color-white;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    // transform: translateY(-100%);
    background: $color-black;
    z-index: 99999;
    p {
        margin-bottom: 0;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 20px;
        color: #C4C4C4;
    }
    .--cancel {}
    .--accept { }
}


section {
    margin-bottom: 60px;
    .--s-header {
        margin-bottom: 20px;
        padding: 10px 0;
        border-top: 4px solid $color-black;
        border-bottom: 1px solid $color-black;
        .--s-title {
            margin: 0px !important;
            padding: 0px !important;
            font-style: normal;
            font-weight: bold;
            font-size: 20px !important;
            line-height: 28px !important;
            color: #1A1A1A;
        }
    }
}

/*************************/
/* Blocks                */
/*************************/
.gh-s-hero {
    margin: 35px 0;
    .container {
    }
} 
@media (max-width: 767px) {
    .gh-s-hero {
        margin: 0 0 25px 0;
        .container {
            margin: 0 !important;
            padding: 0 !important;
        }
    }
}


// Banner 
.gh-s-banner {
    min-width: 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: 60px;
    
    img {
        width: 100%;
        height: auto;
    }
}


// Research & Analysis
.gh-s-review-analysis {
    .--s-header {
        .--s-title {}
    }

    .--s-body {
        .gh-card-ra {
            .card-body {
                padding: 16px 0 16px 0; 
                border-bottom: $border;
                .card-title {
                    margin-bottom: 0px !important;
                    font-size: 16px;
                    line-height: 120.6%;
                }
            }
        }
    }

    .--s-footer {}
}


// Footer 
footer {
    padding-top: 45px;
    background: $color-bg;
    .gh-footer-top {
        margin-bottom: 35px;
        .gh-footer-wgt {
            margin-bottom: 30px;
            .gh-brand-title {
                margin-bottom: 10px;
                font-weight: 900;
                font-size: 35px;
                line-height: 44px;
                letter-spacing: 0.04em;
                color: $color-black;
            }
            .--wgt-title {
                margin-bottom: 10px;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
                // letter-spacing: 0.12em;
                color: $color-black;
            }
            .gh-desc {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 18px;
                color: rgba(0, 0, 0, 0.7);
            }
            .vstack {
                p {
                    margin: 0;
                    a {
                        text-decoration: none;
                        font-size: 14px;
                        line-height: 17px;
                        color: rgba(0, 0, 0, 0.7);
                        &:hover {
                            color: #000
                        }
                    }
                }
            }
        }
    }
    .gh-footer-copy {
        padding: 10px 0;
        border-top: $border;
        p {
            margin: 0;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
        }
    }
}


/*************************/
/* Document              */
/*************************/
html {
    height: 100%;
    overflow-y: scroll;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background: $color-white;
}